<%= form_for @training_day, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :t_cal_day_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:t_cal_day_id, TCalDay.all, :id, :date) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weekday, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :weekday, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], :prompt => 'Select One' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :details, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :details, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                training_days_path, :class => 'btn' %>
  </div>
<% end %>
